.main {
  margin: 0 auto;
  max-width: 940px;
}

input[type=radio] {
  margin-right: 1rem;
}

.list-view {
  display: block;
  text-align: left;
}

.list-view img {
  width: 80px;
}

.thumbnail-view div {
  display: inline-block;
  text-align: center;
}

.gallery-view {
  display: block;
  text-align: center;
}