header {
  background: #232;
}
header h1 {
  text-align: center;
  color: #fff;
  padding: .75em 0;
  font-size: 2em;
}
nav ul li {display: inline-block;}
nav ul li a {text-decoration: none; color: #232;}
nav#mainNav {
  background: #252;
  padding: 1.5em 0;
  text-align: center;
}
nav#mainNav ul li a {
  padding: .5em 1em;
  background: #cfc;
  border: none;
  font-size: 1em;
  margin-left: 2em;
  color: #232;
}
nav#mainNav ul li:first-child a {margin-left: 0;}
nav#mainNav ul li a:hover {background: #ffc;}

nav#subNav {
  margin: 2em 0 2em 2em;
}
nav#subNav ul li a {
  font-size: .9em;
  margin-right: 1em;
  border: 1px solid #232;
  padding: .25em .5em;
}

section {margin: 2em;}
section h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}
section p {margin-bottom: 1em;}
section a {text-decoration: none; color: #282;}
section ul {
  list-style: none;
  margin-bottom: 2em;
}
.thumbView {
  float: left;
  height: 125px;
  width: 125px;
  border: 1px solid #999;
  text-align: center;
  padding: 20px 10px;
  margin-right: 20px;
  position: relative;
}
.thumbView img {
  max-width: 100px;
  max-height: 100px;
}
.thumbView p { font-size: .8em; }
.thumbView button {
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: bold;
  background: #c00;
  border: none;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0,0,0,.5);
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}

.galleryView img {
  max-width: 600px;
}

form input {
  margin: 0 1.5em 0 1em;
}
form button {
  border: none;
  background: #252;
  color: #fff;
  font-size: .8em;
  padding: .5em 1em;
}