.App {
  text-align: center;
  width: 100%;
}



.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  padding: 10px;
  border: 0;
  background-color:transparent;
}

.App-header {
  background-color: #fff;
  height: 10%;
  padding: 20px;
  color: white;
  margin: 0 0 25px 0;
  border-bottom: 1px solid darkgrey;
}

.App-header span {
  display: inline-block;
  vertical-align: top;
  padding: 40px 0 0 10px;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
