
.main {
  margin: 0 auto;
  max-width: 940px;
  padding: 1rem;
}

.list-view {
  display: block;
  text-align: left;
}

.list-view div {
  border-bottom: 1px solid grey;
}

.list-view img {
  width: 80px;
}

.thumbnail-view div {
  display: inline-block;
  text-align: center;
  margin: 1rem;
}

.thumbnail-view img {
  width: 40px;
}

.gallery-view {
  display: block;
  text-align: center;
}